on early-boot
        service CameraDaemon /vendor/bin/CameraDaemon hi6250 BOND
        class main
        user media
        group audio camera inet net_bt net_bt_admin net_bw_acct drmrpc mediadrm system dsm

on boot
    setprop ro.odm.build.fingerprint ${ro.product.odm.brand}/${ro.product.odm.name}/${ro.product.odm.device}_${ro.boot.product.hardware.sku}:${ro.build.version.release}/${ro.vendor.build.id}/${ro.vendor.build.version.incremental}:${ro.vendor.build.type}/${ro.vendor.build.tags}
        chown system system /dev/ttyAMA4
        chmod 660 /dev/ttyAMA4

        #rcc module
        write /sys/kernel/rcc/event PASSIVE_MODE
        write /sys/kernel/rcc/max_anon_clean_size 512M
        write /sys/kernel/rcc/enable 1

on property:sys.boot_completed=1
        write /sys/kernel/rcc/event BOOT_COMPLETE
